.item-embed {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  width: 100%;
}

.item-embed iframe {
  border: none;
  height: 95%;
  width: 100%;
}
