body {
  margin: 0;
  padding: 0;
  width: 100vw;
}

.navbar {
  padding: 0 2%;
}

.navbar .container {
  align-items: center;
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.navbar ul {
  background: #0d87e9;
  color: #fff !important;
}

.navbar ul li a {
  color: #fff !important;
}

.navbar ul li a:hover {
  color: #0d87e9 !important;
  background: #fff !important;
}

.navbar-header {
  margin-right: auto !important;
}

.menu-list {
  padding: .5rem 2rem;
  width: 100%;
}

.menu-list ul {
  background: #fff;
}

.row {
  text-align: center;
}

.App {
  padding: 2% 5%;
  width: 100%;
}

.App h1 {
  text-align: center;
}

.item-collection {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.item {
  box-shadow: 1px 1px 4px #888;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  transition: all .4s;
  width: 30rem;
}

.item:hover {
  background: #0d87e9;
}

.item:hover h4 {
  color: #fff;
}

.item img {
  margin: auto;
}

@media(min-width: 480px) {

}
