body {
  margin: 0;
  min-height: 100vh;
  padding: 0;
  width: 100vw;
}

.navbar {
  left: 0;
  position: fixed;
  right: 0;
  text-align: center;
  top: 0;
  z-index: 2;
}

.navbar-nav {
  float: none;
}

.navbar .dropdown {
  margin: 1rem 1rem;
}

.App {
  margin: 4rem 0;
  padding: 2% 0;
}

.App .row {
  margin: 0;
}

.App h1 {
  text-align: center;
}

.item-collection {
  align-items: stretch;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 2rem;
  width: 100%;
}

.item {
  box-shadow: 1px 1px 4px #888;
  display: flex;
  flex-direction: column;
  margin: 1rem;
  padding: 1rem;
  transition: all .4s;
  width: 30rem;
  word-wrap: break-word;
}

.item:hover {
  background: #0d87e9;
}

.item:hover h4 {
  color: #fff;
}

.item img {
  margin: auto;
}

@media(min-width: 480px) {

}
